.alert {
    border-radius: 0;
    font-size: 12px;
    margin-bottom: 0px;
    &.alert-primary {
        color: black;
        background-color: $jrc-primary;
    }
    .close {
        font-weight: 400;
        color: black;
        @include media-breakpoint-for(mobile) {
            position: absolute;
            right: 15px;
            top: 8px;
        }
    }
}
